* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
html, body {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5 {
	font-family:'Roboto', sans-serif;
	font-weight:bold;
	line-height:1.2;
	text-transform:uppercase;
	margin:2em 0 1em;
}
h4, h5 {
	margin:1.2em 0 0.8em;
}
h1 {
	font-size:3.5em;
}
h2 {
	font-size:3em;
}
h3 {
	font-size:2.2em;
}
h4 {
	font-size:1.6em;
}
h4 {
	font-size:1.2em;
}
* > *:first-child {
	margin-top:0;
}
a, a:visited {
	color:#72ACBF;
	text-decoration:none;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}
a:hover {
	color:#62BDFF;
}
body {
	background:#000;
	color:#c3c3c3;
	font-size:16px;
	font-family:'Droid Serif', serif;
	line-height:1.6;
}
img {
	max-width:100%;
	display:block;
}
p {
	margin:0.4em 0 2em;
}
header .page-title {
	display:none;
}
header {
	margin:0 auto 3em;
	padding-top:3em;
	max-width:1600px;
}
.page {
	max-width:800px;
	margin:0 auto 6em;
	padding:0 2em;
}
.footer {
	text-align:center;
	padding:1em;
	color:#444;
}
.container {
	max-width:1100px;
	margin:0 auto;
}
.sticky-nav {
	position:fixed;
	top:0;
	left:0;
	right:0;
	padding:0.5em;
	background:#191919;
	z-index:999;
}
.sticky-nav:after {
	content:"";
	clear:both;
	display:table;
}
.sticky-nav .nav-title {
	float:left;
	color:#333;
	margin:0;
	font-size:2.2em;
}
.sticky-nav nav {
	float:right;
}
.sticky-nav nav a {
	color:#999;
	font-family:'Roboto', sans-serif;
	font-weight:bold;
	display:inline-block;
	padding:0.2em 0.6em;
	font-size:1.2em;
}
.sticky-nav nav a:hover {
	color:#ccc;
}
.video {
	margin-bottom:3em;
}
.vid-wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin:1em 0 0.5em;
}
.vid-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.emphasis {
	font-size:1.5em;
	color:#72ACBF;
	text-align:center;
	margin-bottom:2em;
	line-height:1.4;
}
.photo-gallery a {
	width:46%;
	display:inline-block;
	vertical-align:top;
	margin-bottom:4%;
}
.page-anchor {
	display:inline-block;
	position:relative;
	top: 4em;
}

@media screen and (max-width:500px){
	.sticky-nav .nav-title {
		display:none;
	}
	h1 {
	font-size:2.8em;
	}
	h2 {
		font-size:2.3em;
	}
	h3 {
		font-size:1.8em;
	}
	h4 {
		font-size:1.4em;
	}
	.page {
		padding:0 1em;
	}
	.emphasis {
		font-size:1.2em;
	}

}


/*	12 COLUMN : RESPONSIVE GRID SYSTEM
	DEVELOPER : DENIS LEBLANC
	URL : http://responsive.gs
	VERSION : 3.0
	LICENSE : GPL & MIT */


/* 	SET ALL ELEMENTS TO BOX-SIZING : BORDER-BOX */
* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(/scripts/boxsizing.htc); 
	/*	If you need support for IE7 and lower make 
		sure the boxsizing.htc file is linked properly.
		More info here:  https://github.com/Schepp/box-sizing-polyfill */
}


/*	MAIN CONTAINER 
	Set the width to whatever you want the width of your site to be. */
.container { 
	max-width: 800px;
	margin: 0 auto; 
}



/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after, 
.col:after, 
.clr:after, 
.group:after { 
	content: ""; 
	display: table; 
	clear: both; 
}

/* 	DEFAULT ROW STYLES 
	Set bottom padding according to preference */
.row { padding-bottom: 0em;
}
			
								  
/* DEFAULT COLUMN STYLES */
.col { 
	display: block;
	float: left;
	width: 100%;
}

@media ( min-width : 600px ) {
	
	.gutters .col {
		margin-left: 2%;
	}
	
	.gutters .col:first-child { 
		margin-left: 0; 
	}
}




/*	COLUMN WIDTH ON DISPLAYS +768px 
	You might need to play with media queries here to suite your design. */
@media ( min-width : 600px ) {
	.span_1 { width: 8.33333333333%; }
	.span_2 { width: 16.6666666667%; }
	.span_3 { width: 25%; }
	.span_4 { width: 33.3333333333%; }
	.span_5 { width: 41.6666666667%; }
	.span_6 { width: 50%; }
	.span_7 { width: 58.3333333333%; }
	.span_8 { width: 66.6666666667%; }
	.span_9 { width: 75%; }
	.span_10 { width: 83.3333333333%; }
	.span_11 { width: 91.6666666667%; }
	.span_12 { width: 100%; }
	
	.gutters .span_1 { width: 6.5%; }
	.gutters .span_2 { width: 15.0%; }
	.gutters .span_3 { width: 23.5%; }
	.gutters .span_4 { width: 32.0%; }
	.gutters .span_5 { width: 40.5%; }
	.gutters .span_6 { width: 49.0%; }
	.gutters .span_7 { width: 57.5%; }
	.gutters .span_8 { width: 66.0%; }
	.gutters .span_9 { width: 74.5%; }
	.gutters .span_10 { width: 83.0%; }
	.gutters .span_11 { width: 91.5%; }
	.gutters .span_12 { width: 100%; }
}